#main-container{
  place-items: center center;
  border-radius: 10px;
  background-color: white;
  max-width: 400px;
}

#sign-in-form{
  max-width: 330px;
}

.form-control:focus{
  z-index: 5;
}

.btn-primary{
  border-radius: 15px;
  width: 100%;
  background: linear-gradient(45deg, #185aad, #43cea2);
  padding: 10px;
  transition: 0.5s ease;
  margin-top: 15%;
  margin-bottom: 20px;
}

.btn-primary:hover{
  background: linear-gradient(-45deg, #185aad, #43cea2);
}

.img-logo{
  width: 45px;
  height: 45px;
  margin: 20px;
}